<div *ngIf="lat && lng" class="mapContainer">

  <agm-map [latitude]="lat" [longitude]="lng" [zoom]="17">

    <agm-marker [latitude]="lat" [longitude]="lng">
      <agm-info-window>
        <h3>User Location</h3>>
      </agm-info-window>
    </agm-marker>

    <agm-marker *ngFor="let item of items | async as list"
                [latitude]="item.geo.latitude" [longitude]="item.geo.longitude">
      <agm-info-window>
        <img src="{{ item.imageUrl }}" class="widthSet heightSet">
      </agm-info-window>
    </agm-marker>

  </agm-map>

</div>
