.dash {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.top-toolbar {
  height: 6.5%;
}

.container {
  height: 93.5%;
}

#navButtonSpacer {
  width: 0.75em;
}

.search-bar {
  flex: auto;
}

.search-space {
  width: 2em;
}

.search-bar * {
  color: white !important;
}

.search-bar input {
  border-bottom-color: white;
}

a {
  text-decoration: none;
}

.mat-list-item:hover {
  background-color: lightgrey;
}

.mat-list-item:active {
  background-color: slategray;
}
