#navButtonSpacer {
  width: 0.5em;
}

.search-bar {
  flex: 1 1 auto;
}

.search-space {
  width: 2em;
}

.search-bar * {
  color: white !important;
}

.search-bar input {
  border-bottom-color: white;
}

mat-sidenav-container {
  flex: 1 1 auto;
}

