<mat-toolbar color="primary">
  <mat-toolbar-row class="mat-toolbar-row">
    <button mat-icon-button (click)="sidenav.toggle()" title="Side Navigation">
      <mat-icon>menu</mat-icon>
    </button>
    <span id="navButtonSpacer"></span>
    <span>Relational Image Map</span>

    <span class="search-space"></span>
    <button mat-icon-button (click)="searchTerm()">
      <mat-icon>search</mat-icon>
    </button>
    <mat-input-container class="search-bar" floatPlaceholder="never" hideRequiredMarker="true">
      <input matInput
             id="search-input"
             type="text"
             placeholder="Search"
             (submit)="searchTerm()"
             required>
    </mat-input-container>
    <button mat-icon-button (click)="searchTerm()">
      <mat-icon>close</mat-icon>
    </button>
    <span class="search-space"></span>

    <button mat-icon-button [matMenuTriggerFor]="filterRef">
      <mat-icon>filter_list</mat-icon>
    </button>
    <mat-menu #filterRef="matMenu" [overlapTrigger]="false">
      <button mat-menu-item *ngFor="let filter of filters">
        <mat-checkbox [checked]="filter.checked" [indeterminate]="">
          {{ filter.name }}
        </mat-checkbox>
      </button>
    </mat-menu>

    <button mat-icon-button [matMenuTriggerFor]="optionsRef">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #optionsRef="matMenu" [overlapTrigger]="false">
      <button mat-menu-item *ngFor="let option of options">
        {{ option.name }}
      </button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container class="side_nav">
  <mat-sidenav #sidenav [opened]="!isScreenSmall()" [mode]="isScreenSmall() ? 'over' : 'side'">
    <mat-nav-list>
      <mat-divider></mat-divider>
      <h3 mat-subheader>Connect</h3>
      <mat-list-item *ngFor="let filter of filters">
        <i matListAvatar class="fab {{ filter.icon }} fa-2x"></i><span mat-line>{{ filter.name }}</span>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <!-- Placeholder -->
    <p>Map Placeholder</p>
  </mat-sidenav-content>
</mat-sidenav-container>
